# Core Settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here

# Admin User
DJANGO_ADMIN_PASSWORD=your-password-here

# CORS Settings
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com

# Domain Settings
API_DOMAIN=localhost

# AWS Configuration
AWS_REGION=us-east-2

# SQS Configuration
SQS_QUEUE_URL=https://sqs.us-east-2.amazonaws.com/424029273204/course-automation
SQS_DLQ_URL=https://sqs.us-east-2.amazonaws.com/424029273204/course-automation-dlq

# Domain Settings
API_DOMAIN=api.paragonai.club

AWS_STORAGE_BUCKET_NAME=your-bucket-name 